html {
    height: 100% !important;
}

body {
    height: 100% !important;
}

    body > form {
        height: 100% !important;
    }
        body > form > div.wrapper {
            height: 100% !important;
        }
            body > form > div.wrapper > .content-wrapper {
                height: calc(100% - 51px) !important;
            }
